@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;800&family=Petit+Formal+Script&display=swap') ;

.headerContainer {
  font-family: Arima Madurai, cursive;
  font-weight: 400;
  height: 20vh;
  margin: 5vh;
  width: 50vh;
}

/* .loggedEmail {

}

.totalField {

}

.brl {

} */
