@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;800&family=Petit+Formal+Script&display=swap') ;

.notFoundTitle {
  display: flex;
  font-family: Arima Madurai, cursive;
  font-size: 30px;
  height: 9vh;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2vh;
  text-shadow: 2px 2px 2px rgb(176, 156, 129);
  width: 90vw;
}

.giornoImg {
  box-shadow: 4px 4px 10px rgb(176, 156, 129);
}

.imgContainer {
  display: flex;
  height: 70vh;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
}
