@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;800&family=Petit+Formal+Script&display=swap') ;

.wFormContainer {
  box-shadow: 10px 10px 25px rgb(179, 171, 150);
  display: flex;
  font-family: Arima Madurai, cursive;
  font-size: 20px;
  height: 9vh;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2vh;
  width: 90vw;
}

.finishEdit , .saveButton {
  background-color: #e9d2b3;
  cursor: pointer;
  font-family: Arima Madurai, cursive;
  font-size: 0.8em;
  height: 5vh;
  margin: 1.5px;
  transition: 0.5s;
  width: 8vw;
}

.finishEdit:hover , .saveButton:hover {
  background-color: #cab395;
}

input , select {
  font-family: Arima Madurai, cursive;
  font-size: 15px;
  margin-left: 5px;
}
